<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="human_support_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <!-- <plugin>mock_components/GenericSystem</plugin> -->
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
            <joint name="link1_link2_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link1_link2_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link2_link3_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link2_link3_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link3_link4_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link3_link4_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jL5S1_rotx">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jL5S1_rotx']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jL5S1_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jL5S1_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jT9T8_rotx">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jT9T8_rotx']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jT9T8_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jT9T8_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jT9T8_rotz">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jT9T8_rotz']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jC7LeftShoulder_rotx">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jC7LeftShoulder_rotx']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jLeftShoulder_rotx">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jLeftShoulder_rotx']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jLeftShoulder_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jLeftShoulder_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jLeftShoulder_rotz">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jLeftShoulder_rotz']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jLeftElbow_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jLeftElbow_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jLeftElbow_rotz">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jLeftElbow_rotz']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jLeftWrist_rotx">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jLeftWrist_rotx']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jLeftWrist_rotz">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jLeftWrist_rotz']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jC7RightShoulder_rotx">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jC7RightShoulder_rotx']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightShoulder_rotx">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightShoulder_rotx']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightShoulder_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightShoulder_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightShoulder_rotz">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightShoulder_rotz']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightElbow_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightElbow_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightElbow_rotz">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightElbow_rotz']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightWrist_rotx">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightWrist_rotx']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightWrist_rotz">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightWrist_rotz']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jT1C7_rotx">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jT1C7_rotx']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jT1C7_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jT1C7_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jT1C7_rotz">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jT1C7_rotz']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jC1Head_rotx">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jC1Head_rotx']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jC1Head_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jC1Head_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightHip_rotx">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightHip_rotx']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightHip_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightHip_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightHip_rotz">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightHip_rotz']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightKnee_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightKnee_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightKnee_rotz">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightKnee_rotz']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightAnkle_rotx">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightAnkle_rotx']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightAnkle_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightAnkle_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightAnkle_rotz">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightAnkle_rotz']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jRightBallFoot_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jRightBallFoot_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jLeftHip_rotx">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jLeftHip_rotx']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jLeftHip_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jLeftHip_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jLeftHip_rotz">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jLeftHip_rotz']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jLeftKnee_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jLeftKnee_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jLeftKnee_rotz">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jLeftKnee_rotz']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jLeftAnkle_rotx">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jLeftAnkle_rotx']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jLeftAnkle_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jLeftAnkle_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jLeftAnkle_rotz">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jLeftAnkle_rotz']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jLeftBallFoot_roty">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jLeftBallFoot_roty']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>

      <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <parameters>$(find humanoid_support_moveit_config)/config/ros2_controllers.yaml</parameters>
        </plugin>
      </gazebo>
    </xacro:macro>
</robot>
